@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    box-sizing: border-box;
}

:root {
    --fonte: 'Kumbh Sans';
    --cor-fundo: #17162E;
    --cor-card: #1D1C3B;
    --cor-descricao: #ACACAC;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco);
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.inicio__titulo-principal {
    padding: 1.5em 2em;
    font-weight: 600;
}

.inicio__pesquisa {
    padding: 1.62em 1.5em;
    background-color: var(--branco);
    opacity: 0.2;
    border-radius: 0.5em;
    width: 40%;
}

.inicio__checkbox {
    text-align: center;
    margin: 0 0 2em 0;
}

#favoritos {
    margin: 0.5em;
}


.filmes {
    display: flex;
    margin: 0 6.75em;
}

.filmes__filme {
    background-color: var(--cor-card);
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
}

.filmes__filme-imagem {
    width: 10%;
    border-radius: 4em;
}

.filmes__filme-detalhes {
    display: flex;
    flex-direction: column;
}

.filmes__filme-titulo {
    font-size: 1.12rem;
}

.filmes__filme-svg {
    display: flex;
    justify-content: space-between;
}

.filmes__filme-descricao {
    width: 50%;
    color: var(--cor-descricao);
    font-size: 1.12rem;
}

#coracao {
    display: none;
}


#coracao:checked+label>svg {
    animation: preencher;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes preencher {
    0% {
        fill: pink;
    }

    100% {
        fill: #BA0707;
    }
}